// {{ ansible_managed }}
/* eslint-disable no-unused-vars, no-var */
var config = {
    hosts: {
        domain: '{{ inventory_hostname }}',
        muc: '{{ inventory_hostname }}'
    },
    testing: {
        enableFirefoxSimulcast: false,
        p2pTestMode: false
    },
    resolution: 360,
    desktopSharingChromeExtId: null,
    desktopSharingChromeSources: [ 'screen', 'window', 'tab' ],
    desktopSharingChromeMinExtVersion: '0.1',
    channelLastN: -1,
    enableWelcomePage: true,
    enableUserRolesBasedOnToken: false,
    p2p: {
        enabled: true,
        stunServers: [
            { urls: 'stun:stun.l.google.com:19302' },
            { urls: 'stun:stun1.l.google.com:19302' },
            { urls: 'stun:stun2.l.google.com:19302' }
        ],
        preferH264: true
    },
    analytics: {
    },
    deploymentInfo: {
    }
};

/* eslint-enable no-unused-vars, no-var */
